.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // flex: 1;
  padding-top: 20px;
  @include media-mo() {
    padding: 0 16px 16px 16px;
  }
  > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}

.main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px 60px 40px;
  @include media-mo() { 
    padding: 0;
  }
}

.listWrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
}

.listItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  > div {
    width: 100%;
  }
}
