.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 50px;
  ul {
    display: flex;
    gap: 20px;
    font-size: 18px;
    li {
      position: relative;
    }
  }
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 0.15s ease;

  &:hover {
    color: #2563eb;
  }
}

.linkActive {
  color: #2563eb;
  // font-weight: 700;

  // &::after {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: -6px;
  //   height: 2px;
  //   background: #2563eb;
  //   border-radius: 1px;
  // }
}
